@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply m-0 p-0 box-border font-sans scroll-smooth;
}

section {
  @apply p-[100px];
}

.banner {
  @apply bg-main-banner bg-cover bg-right min-h-screen flex justify-between items-center;
}

.banner h2 {
  @apply text-[3em] font-medium leading-[1.5em];
}

.banner h2 span {
  @apply text-[1.5em] font-bold;
}

.banner h3 {
  @apply text-[1.5em] font-medium;
}

.btn {
  @apply relative inline-block py-[10px] px-[30px] mt-[20px] text-[18px] uppercase tracking-[2px] font-medium;
}

header {
  @apply fixed top-0 left-0 w-full py-[40px] px-[100px] flex justify-between items-center transition-[0.5s] z-[2];
}

header.sticky {
  @apply bg-secondary py-[20px] px-[100px] shadow-lg;
}

header.sticky .logo,
header.sticky .toggle,
header.sticky ul li a {
  @apply text-primary
}

header .logo {
  @apply text-[24px] font-bold tracking-[2px] uppercase;
}

header .toggle #menuOpen,
header .toggle #menuClose {
  @apply hidden;
}

header ul {
  @apply flex relative;
}

header ul li {
  @apply relative list-none;
}

header ul li a {
  @apply relative text-secondary inline-block mx-[15px];
}

header ul li a:hover {
  @apply text-tertiary
}

.heading {
  @apply w-full text-center mb-[30px];
}

.heading h2 {
  @apply text-[30px] font-semibold;
}

.content {
  @apply flex justify-between;
}

.contentBx {
  @apply text-justify pr-[30px];
}

.contentBx h3 {
  @apply text-[24px] mb-[10px];
}

.w50 {
  @apply min-w-[50%];
}

img {
  @apply max-w-full;
}

.services .content {
  @apply flex justify-center flex-wrap flex-row;
}

.services .content .servicesBx {
  @apply flex flex-col place-items-center py-[40px] px-[20px] bg-primary text-secondary max-w-[340px] m-[20px] text-center transition-[0.5s];
}

.services .content .servicesBx:hover {
  @apply bg-tertiary;
}

.services .content .servicesBx img {
  @apply max-w-[80px] invert-[1];
}

.services .content .servicesBx h2 {
  @apply text-[20px] font-semibold;
}

.work .content {
  @apply flex justify-between flex-wrap;
}

.work .content .workBx {
  @apply w-1/2 p-[20px];
}

.work .content .workBx img {
  @apply max-w-full;
}

.testimonial .content {
  @apply flex justify-between flex-wrap;
}

.testimonial .content .testiBx {
  @apply max-w-[calc(50%-40px)] py-[60px] px-[40px] m-[20px] bg-tertiary;
}

.testimonial .content .testiBx p {
  @apply text-secondary italic text-[16px] font-light;
}

.testimonial .content .testiBx h3 {
  @apply text-secondary font-semibold text-[20px] mt-[40px] text-end leading-[1em];
}

.testimonial .content .testiBx h3 span {
  @apply text-[14px] font-normal;
}

.formBx {
  @apply min-w-[60%]
}

.formBx form {
  @apply flex flex-col;
}

.formBx form h3,
.contactInfo h3 {
  @apply text-secondary text-[20px] font-medium mb-[10px];
}

.formBx form input,
.formBx form textarea {
  @apply mb-[20px] p-[15px] text-[16px] bg-quaternary text-secondary border-none outline-none;
}

.formBx form input[type=submit] {
  @apply max-w-[100px] bg-tertiary cursor-pointer uppercase tracking-[2px];
}

.contactInfo {
  @apply min-w-[40%];
}

.contactInfoBx {
  @apply relative;
}

.contactInfoBx .box {
  @apply flex relative py-[20px];
}

.contactInfoBx .box .icon {
  @apply min-w-[40px] pt-[4px] flex justify-center items-start;
}

.contactInfoBx .box .text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size: 16px;
  font-weight: 300;
  @apply flex flex-col ml-[20px] text-[16px] font-light;
}

.contactInfoBx .box .text h3 {
  @apply text-tertiary;
}

.load-more {
  @apply flex justify-center my-[40px];
}

/* Responsive */
@media (max-width: 991px) {
  header,
  header.sticky {
    @apply py-[20px] px-[10px] z-[2];
  }
  
  .menu {
    @apply fixed top-[75px] -left-[100%] block py-[100px] px-[50px] text-center w-full h-screen bg-secondary transition-[0.5s] z-[1] border-t-[1px] border-solid border-[rgba(0,0,0,0.2)];
  }
  
  .menu.active {
    @apply left-0;
  }
  
  header ul li a {
    @apply text-primary text-[24px] m-[10px];
  }
  
  header .toggle #menuOpen,
  header .toggle.active #menuClose {
    @apply flex items-center w-[40px] h-[40px] cursor-pointer;
  }
  
  header .toggle.active #menuOpen {
    @apply hidden;
  }
  
  section {
    @apply py-[100px] px-[20px];
  }
  
  .banner {
    @apply pt-[150px] px-[20px] pb-[100px];
  }
  
  .banner h2 {
    @apply text-[1.5em];
  }
  
  .banner h3 {
    @apply text-[1em];
  }
  
  .btn {
    @apply mt-[10px] py-[10px] px-[20px] text-[16px];
  }
  
  .heading h2 {
    @apply text-[24px];
  }
  
  .contentBx {
    @apply pr-0;
  }
  
  .contentBx h3 {
    @apply text-[20px];
  }
  
  .content {
    @apply flex-col;
  }
  
  .w50 {
    @apply mb-[20px];
  }
  
  .services .content .servicesBx {
    @apply m-[10px];
  }
  
  .work .content .workBx {
    @apply w-full p-[10px];
  }
  
  .testimonial .content .testiBx {
    @apply max-w-[calc(100%-20px)] py-[40px] px-[20px] m-[10px] bg-tertiary;
  }
  
  .testimonial .content .testiBx h3 {
    @apply mt-[20px];
  }
  
  .contactInfo {
    @apply my-[20px] mx-0;
  }
}
